{% extends 'base.html' %}
{% block content %}
  <p>
    Has elegido al entrenador: <strong>{{ trainer|capfirst }}</strong>
  </p>
  <h3>Características:</h3>
  <ul>
    <li>Nombre: {{ trainer.name }}</li>
    <li>Apellido: {{ trainer.last_name }}</li>
    <li>Edad: {{ trainer.years }}</li>
    <li>Nivel: {{ trainer.level }}</li>
    <li>Fecha de nacimiento: {{ trainer.datebirth }}</li>
  </ul>
  <a href="{% url "pokedex:index" %}" class="btn btn-secondary mt-3">Regresar al índice</a>
{% endblock %}