{% extends 'base.html' %}
{% block content %}
  <h3>Pokémons disponibles:</h3>
  <div class="row">
      {% for pokemon in pokemons %}
        <div class="col-sm-12 col-md-6 col-lg-4">
          <a class="card" style="width: 18rem;" href="{% url "pokemon" pokemon.id %}">
            {% if pokemon.picture %}
              <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name }}" />
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ pokemon.name }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
  </div>
  <h3>Entrenadores disponibles:</h3>
  <ul class="list-group">
    {% for trainer in trainers %}
      <li class="list-group-item">
        <a href="trainer/{{ trainer.id }}/">{{ trainer|capfirst }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}